/* 3 values selected for contrast with elements. */
:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
  
html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 100px;
    background: var(--primary-light);
    line-height: 2.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-dark);
}
  
h1 {
    outline: solid rgb(0,125,0);
    background: linear-gradient(blue, steelblue);
    line-height: 1.7;
    color: rgb(255, 255, 255);
}
  
button, input {
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: inherit;    
}
  
/* Header */
.header {
    padding: 30px 0;
}
  
.title {
    font-size: 50px;
    text-align: center;
}
  
/* Main/Settings Area */
.main {
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
}

.settings {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    display: flex;
    width: 200px;
}
  
button {
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
    padding: 10px 20px;
    background: var(--primary-light);
}

#rainbowBtn {
    background: linear-gradient(45deg, red, yellow, blue, violet);
    color: rgb(255, 255, 255);
}

#eraserBtn {
    background: darkred;
    color: rgb(255, 255, 255);    
}

button.active {
    background: var(--primary-dark);
    color: var(--primary-light);
}
  
button, input[type='color'] {
    transition: transform 0.1s ease-out;
}
  
button:hover, input[type='color']:hover {
    transform: scale(1.1);
}
  
input[type='color']:active {
    transition: transform 0.05s ease-out;
}
  
input[type='color'] {
    -webkit-appearance: none;
    border: none;
    width: 100px;
    height: 100px;
}
  
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
    border: none;
    border-radius: 50px;
}
  
.size-value {
    margin-bottom: -20px;
    font-size: 22px;
}
  
input[type='range'] {
    -webkit-appearance: inherit;
    background: var(--primary-light);
}
  
input[type='range']::-webkit-slider-runnable-track {
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    height: 10px;
    background: var(--secondary-light);
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -8px;
    border-radius: 25px;
    width: 18px;
    height: 24px;
    background: var(--primary-dark);
}
  
/* Grid Area */
.grid-element {
    user-select: none;
}

.grid {
    display: grid;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
    width: 550px;
    height: 550px;
    background: var(--secondary-light);
}

/* Footer */  
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    width: 100%;
    padding: 20px;    
    font-size: 14px;
}
  
/* Responsive/Reflexive Design */
@media (max-width: 1200px) {
    .main {
        justify-content: center;
    }
}
  
@media (max-width: 850px) {
    .main {
        gap: 50px;
    }
  
    .settings {
        gap: 16px;
        width: 150px;
    }
  
    .size-value {
        margin-bottom: -4px;
    }
  
    .grid {
        width: 400px;
        height: 400px;
    }
}
  
@media (max-width: 650px) {
    .title {
        font-size: 50px;
    }

    .main {
        flex-direction: column-reverse;
    }

    .grid {
        width: 300px;
        height: 300px;
    }
}
